body {
    background-image: url("https://img.freepik.com/free-vector/mars-landscape-space-scene_1308-31729.jpg?w=1380&t=st=1706730391~exp=1706730991~hmac=a645bfd13dc753189e41f349215cc80264bfec54acd776071d234b623cf55707");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.listHome {
    margin: 50px;
}

.listHome h2 {
    font-size: 45px;
    margin-top: 15px;
}

.dropdown {
margin-right: 10px;
}
