* {
    font-family: "Teko", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
body {
    background-image: url("https://images.pexels.com/photos/956999/milky-way-starry-sky-night-sky-star-956999.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: "Gill Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h2 {
    color: beige;
}
.footer{
    color: beige;
}
.beige {
    color: beige;
}
.listHome {
    margin: 50px;
}

.listHome h2 {
    font-size: 45px;
    margin-top: 20px;
}

.dropdown {
margin-right: 10px;
}
